<a color="primary" mat-button href="https://youtu.be/KIkISZdYSU0" target="_blank">
  <div class="flex-row">
    <mat-icon>support</mat-icon>
    <span>Voir l'aide</span>
  </div>
</a>
<a color="primary" mat-button href="https://rsn.ne.ch/DATA/program/books/rsne/htm/2154211.htm" target="_blank">
  <div class="flex-row">
    Informations sur la tarification
  </div>
</a>
<a color="primary" mat-button href="https://sitn.ne.ch/geoshop2_media/documents/contrat_sitn.pdf" target="_blank">
  <div class="flex-row">
    Conditions d'utilisation
  </div>
</a>
<hr>
<span class="padding-horizontal-15 questions">Avez-vous des questions ?</span>

<a mat-button color="primary" [href]="'tel:' + phoneNumber">
  <div class="flex-row">
    <mat-icon color="primary">phone</mat-icon>
    <span>{{phoneLabel}}</span>
  </div>
</a>

<a mat-button color="primary" [href]="'mailto:' + email">
  <div class="flex-row">
    <mat-icon color="primary">email</mat-icon>
    <span>{{email}}</span>
  </div>
</a>

