<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h1 mat-dialog-title cdkDragHandle>Saisie manuelle</h1>
  <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" dynamicHeight>
    <mat-tab label="Format pré-configuré">
      <div mat-dialog-content>
        <mat-form-field>
          <mat-label>Format de la page</mat-label>
          <mat-select [(ngModel)]="data.selectedPageFormat">
            <mat-option *ngFor="let pageFormat of data.pageFormats" [value]="pageFormat">
              {{pageFormat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Echelles</mat-label>
          <mat-select [(ngModel)]="data.selectedPageFormatScale">
            <mat-option *ngFor="let pageFormatScale of data.pageFormatScales" [value]="pageFormatScale">
              {{pageFormatScale}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rotation</mat-label>
          <input matInput type="number" min=0 max=360 [(ngModel)]="data.rotationPageFormat" value=0>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Définition d'une étendue">
      <div mat-dialog-content>
        <mat-form-field>
          <mat-label>Ouest (X min)</mat-label>
          <input matInput type="number" min=2500000  max=2580000  [(ngModel)]="data.xMin">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sud (Y min)</mat-label>
          <input matInput type="number" min=1180000 max=1240000 [(ngModel)]="data.yMin">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Est (X max)</mat-label>
          <input matInput type="number" min=2500000 max=2580000 [(ngModel)]="data.xMax">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Y max</mat-label>
          <input matInput type="number" min=1180000 max=1240000 [(ngModel)]="data.yMax">
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [mat-dialog-close]="data">Ok</button>
  </div>
</div>
