:host {
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-top: 5px;
  }
  .mat-dialog-actions {
    justify-content: space-between;
  }
  .cdk-drag-handle {
    cursor: grab;
  }
  .cdk-drag-handle:active {
    pointer-events: auto;
    cursor: grabbing;
  }
}