<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- product Column -->
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef> Produit</th>
    <td mat-cell *matCellDef="let element"><span class="text-ellipsis-2 mr-1">{{getProductLabel(element)}}</span></td>
    <td mat-footer-cell *matFooterCellDef>
      <div *ngIf="!order.isAllOrderItemCalculated">
        Un ou plusieurs produits commandés doivent encore être devisés.<br>
        Une fois les produits devisés, vous pourrez valider ici la commande.
      </div>

      <ul class="padding-vertical-5" *ngIf="order.isAllOrderItemCalculated">
        <li class="text-primary">Frais de traitement</li>
        <li class="text-primary mat-body-strong">Total TTC</li>
        <li class="mat-small">Dont TVA 7.7 %</li>
      </ul>
    </td>
  </ng-container>

  <!-- format Column -->
  <ng-container matColumnDef="format">
    <th mat-header-cell *matHeaderCellDef> Format</th>
    <td mat-cell *matCellDef="let element"><span class="text-ellipsis-2 mr-1">{{element.data_format}}</span></td>

    <td mat-footer-cell *matFooterCellDef class="text-primary"></td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="sitn-th-price">Prix</th>
    <td mat-cell *matCellDef="let orderItem" class="sitn-td-price">
      <span *ngIf="orderItem.price_status !== 'PENDING'">{{ orderItem.price | currency }}</span>
      <span *ngIf="orderItem.price_status === 'PENDING'">Sur devis</span>
    </td>
    <td mat-footer-cell *matFooterCellDef class="sitn-tf-price">
      <ul class="padding-vertical-5" *ngIf="order.isAllOrderItemCalculated">
        <li class="text-primary">{{ order.processing_fee | currency }}</li>
        <li class="text-primary mat-body-strong">{{ order.total_with_vat | currency }}</li>
        <li class="mat-small">{{ order.part_vat | currency }}</li>
      </ul>
    </td>
  </ng-container>

  <!-- Action Column -->
  <div *ngIf="showAction">
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Téléchargement</th>
      <td mat-cell *matCellDef="let element">
        <button class="download-button" mat-raised-button color="primary"
                *ngIf="element.status === 'PROCESSED'"
                (click)="downloadOrder($event, element.id)">Télécharger
        </button>
        <span *ngIf="element.status !== 'PROCESSED'">Indisponible</span>
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-primary"></td>
    </ng-container>
  </div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="text-primary"></tr>
</table>

