# SITN specific stuff
PGPOSTGRESPASSWORD=password
DOCKER_HOST="ssh://user@server.com"
DOCKER_BACK_PORT=5004
DOCKER_FRONT_PORT=5005
DOCKER_BASE=sitn/geoshop-local
COMPOSE_PROJECT_NAME=geoshop-local
API_BASE_URL=https://sitn.ne.ch

# Do not set this to True if your server is exposed to internet!
DEBUG=False

PGDATABASE=geoshop
PGUSER=geoshop
PGHOST=host.docker.internal
PGPORT=5432
PGPASSWORD=geoshop
PGSCHEMA=geoshop

# The folder where the geodata will be uploaded
MEDIA_ROOT=./files
# A link to public images used in product and metadata
MEDIA_URL=https://example.com/geoshop_media/

ALLOWED_HOST=localhost,127.0.0.1,proxy.example.com
# Base URL of the api
ROOTURL=

DEFAULT_FROM_EMAIL=no-reply@geoshop.ch
EMAIL_HOST=smtp.example.com
ADMIN_USERNAME=admin
ADMIN_EMAIL_LIST=admin@example.com

# This is used for CORS and to generate links in email templates
FRONT_URL=localhost:4200
FRONT_HREF=/geoshop
FRONT_PROTOCOL=http
CSRF_COOKIE_DOMAIN=localhost
LOGGING_LEVEL=INFO

# Generate this key with Django tools
SECRET_KEY=GenerateOneSecretKey
ADMIN_PASSWORD=Test1234
EXTRACT_USER_PASSWORD=Test1234

AUTO_LEGEND_URL=http://example.com/mapserv?FORMAT=image%2Fpng&TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&LAYER=
# If you plan to manage secret metadata, provide your intranet legend service
INTRA_LEGEND_URL=https://example.com/mapserv_proxy?ogcserver=source+for+image%2Fpng&FORMAT=image%2Fpng&TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic&LAYER=

# Only for testing purpose
EMAIL_TEST_TO=test@example.com

DEFAULT_LANGUAGE=en
# For non-docker, uncomment this (only tested in Windows)
#GDAL_PATH="C:\Applications\Mapserver72_x64\bin"
#GDAL_LIBRARY_PATH="C:\Applications\Mapserver72_x64\bin\gdal300.dll"
#GEOS_LIBRARY_PATH="C:\Applications\Mapserver72_x64\bin\geos_c.dll"

# Geometric settings 
DEFAULT_SRID=2056
