<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>GeoShop - Authentification</mat-card-title>
    <mat-card-subtitle>Création d'un nouveau compte</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-horizontal-stepper #stepper [linear]="true" (selectionChange)="setFocusOn($event)">
      <mat-step [stepControl]="formCredentials" label="Identifiants">
        <form [formGroup]="formCredentials" class="flex-column">
          <mat-form-field color="primary">
            <input #firstInput formControlName="username"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Login">
            <mat-error *ngIf="username?.hasError('required')">Requis</mat-error>
            <mat-error *ngIf="username?.hasError('duplicate')">Identifiant déjà pris</mat-error>
          </mat-form-field>

          <div class="flex-column" formGroupName="passwords">

            <mat-form-field color="primary">
              <input formControlName="password" autocapitalize="off" autocomplete="off"
                     spellcheck="false"
                     required matInput
                     placeholder="Mot de passe" type="password">
              <mat-error *ngIf="password?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field color="primary">
              <input formControlName="passwordConfirm" autocapitalize="off" autocomplete="off"
                     spellcheck="false"
                     required matInput
                     placeholder="Confirmation du mot de passe" type="password">
              <mat-error *ngIf="passwordConfirm?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-error *ngIf="passwords?.hasError('mismatch')">
              Mot de passe différent
            </mat-error>
          </div>
        </form>

        <div class="bottom-container">
          <button color="primary" mat-button matStepperNext> Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="formContact" label="Contact">
        <form [formGroup]="formContact" class="flex-column">
          <mat-form-field color="primary">
            <input id="registerInput1" formControlName="firstName"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Prénom">
            <mat-error *ngIf="firstName?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="lastName"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Nom">
            <mat-error *ngIf="lastName?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="email"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Courriel">
            <mat-error *ngIf="email?.hasError('required')">Requis</mat-error>
            <mat-error *ngIf="email?.hasError('email')">Format de courriel incorrect</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="phone"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Téléphone">
            <mat-error *ngIf="phone?.hasError('required')">Requis</mat-error>
            <mat-error *ngIf="phone?.hasError('pattern')">
              <ul>Mauvais format de téléphone, accepté :
                <li>+41225252356</li>
                <li>+41 22 225 25 23</li>
                <li>0041222252523</li>
                <li>0041 22 225 25 23</li>
                <li>0225232523</li>
                <li>02 25 25 25 23</li>
              </ul>
            </mat-error>
          </mat-form-field>
        </form>

        <div class="bottom-container">
          <button color="primary" mat-button matStepperPrevious> Retour</button>
          <button color="primary" mat-button matStepperNext> Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="formAddress" label="Adresse">
        <form [formGroup]="formAddress" class="flex-column">
          <mat-form-field color="primary">
            <input id="registerInput2" formControlName="street"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Adresse">
            <mat-error *ngIf="street?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="street2"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Complément d'adresse">
            <mat-error *ngIf="street2?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="postcode"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Code postal">
            <mat-error *ngIf="postcode?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="city"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Ville">
            <mat-error *ngIf="city?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="country"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Pays">
            <mat-error *ngIf="country?.hasError('required')">Requis</mat-error>
          </mat-form-field>
        </form>

        <div class="bottom-container">
          <button color="primary" mat-button matStepperPrevious> Retour</button>
          <button color="primary" mat-button matStepperNext> Suivant</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="formOthers" label="Société">
        <form [formGroup]="formOthers" class="flex-column">
          <mat-form-field color="primary">
            <input id="registerInput3" formControlName="companyName"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Raison sociale">
            <mat-error *ngIf="companyName?.hasError('required')">Requis</mat-error>
          </mat-form-field>
        </form>

        <div class="bottom-container">
          <button color="primary" mat-button matStepperPrevious> Retour</button>
          <button mat-button color="warn" (click)="stepper.reset()">Remettre à zéro</button>
          <button class="form-login-button" color="primary" mat-button type="submit" (click)="submit()"
                  [disabled]="
                    formOthers.invalid || formOthers.pristine ||
                    formAddress.invalid || formAddress.pristine ||
                    formContact.invalid || formContact.pristine ||
                    formCredentials.invalid || formCredentials.pristine
                  "> Créer
          </button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </mat-card-content>
</mat-card>

