:host {
  display: flex;
  height: calc(100vh - 64px);

  .mat-card {
    margin: 10px auto;
    flex: 1;
    max-width: 960px;
  }

  form {
    height: calc(100vh - 64px - 60px - 40px - 60px - 72px);
    overflow-y: auto;
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;

    .mat-button {
      &:only-child {
        margin-left: auto;
      }
    }
  }
}
