:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--primary-color);

  .mat-form-field {
    width: 90%;
    margin: 5px 0;

    ::ng-deep .mat-form-field-flex {
      padding: 0 8px;
      border-radius: 4px 4px 0 0;
    }

    ::ng-deep .mat-form-field-underline,
    ::ng-deep .mat-form-field-ripple {
      background-color: white;
    }

    ::ng-deep .mat-form-field-label {
      color: white;
    }

    ::ng-deep .mat-input-element {
      color: white;
      caret-color: white;
    }
  }

  .list-container {
    width: 100%;
    height: 100%;

    .list-group-item {
      display: grid;
      margin: 0;
      padding: 4px;
      grid-template-columns: 45px 1fr 45px 45px;
      grid-template-rows: 40px 20px;

      .item-logo {
        grid-column: 1;
        grid-row: 1 / span 2;
        justify-self: center;
        align-self: center;
        width: 40px;
        height: 40px;
      }

      .item-label {
        grid-column: 2;
        grid-row: 1;
        padding: 0 10px;
        align-self: center;
        font-size: 1rem;
      }

      .item-links {
        grid-column: 2;
        grid-row: 2;
        padding: 0 10px;
        align-self: center;
        font-size: 0.8rem;
      }

      .item-help {
        grid-column: 3;
        grid-row: 1 / span 2;
        justify-self: center;
        align-self: center;
      }

      .item-cart {
        grid-column: 4;
        grid-row: 1 / span 2;
        justify-self: center;
        align-self: center;
      }

      .icon-sm {
        transform: scale(0.8);
      }
    }
  }
}
