<mat-form-field color="primary">
  <input matInput [formControl]="catalogInputControl" placeholder="Rechercher un produit...">
  <div matSuffix class="flex-row">
    <mat-spinner *ngIf="isSearchLoading" diameter="16" color="accent" style="margin-right: 10px"></mat-spinner>
    <button mat-button *ngIf="catalogInputControl.value"  mat-icon-button aria-label="Clear"
            (click)="catalogInputControl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-form-field>

<ng-container *ngIf="infinite|async as products">
  <cdk-virtual-scroll-viewport class="list-container"
                               [itemSize]="catalogItemHeight"
                               (scrolledIndexChange)="nextBatch($event, products.length-1)">

    <div [style.height]="catalogItemHeight + 'px'"
         *cdkVirtualFor="let product of products;let i = index; trackBy: trackByIdx"
         class="list-group-item">

      <img class="item-logo rounded-image" alt="Logo du produit" aria-label="Logo du produit"
           src="{{mediaUrl}}/{{product.thumbnail_link}}">
      <div class="item-label text-ellipsis-2" [matTooltip]="product.label">{{product.label}}</div>
      <!--<span class="item-price text-accent">{{product.Price}}</span>-->
      <button class="item-help" matTooltip="Voir les meta données" aria-label="Voir les meta données"
              [disabled]="!product.metadata"
              color="primary" mat-button
              (click)="openMetadata(product)">
        <mat-icon>description</mat-icon>
      </button>

      <button class="item-cart" color="primary" mat-button matTooltip="Ajouter au panier" (click)="addToCart(product)"
              aria-label="Ajouter au panier">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>

    </div>

  </cdk-virtual-scroll-viewport>
</ng-container>
