<ng-container *ngIf="true">
  <div class="flex-row name-container">
    <mat-icon>face</mat-icon>
    <span>Daenerys Targaryen</span>
  </div>

  <button mat-button color="accent">
    <div class="flex-row">
      <mat-icon>receipt</mat-icon>
      <span>Mes Commandes</span>
    </div>
  </button>
  <button mat-button color="accent">
    <div class="flex-row">
      <mat-icon>perm_identity</mat-icon>
      <span>Mon profil</span>
    </div>
  </button>
  <button mat-button color="accent">
    <div class="flex-row">
      <mat-icon>exit_to_app</mat-icon>
      <span>Déconnexion</span>
    </div>
  </button>

</ng-container>

<ng-container *ngIf="false">
  <div class="flex-row info-container">
    <mat-icon>info</mat-icon>
    <span>Pour commander vous devez obligatoirement vous authentifiez.</span>
  </div>

  <button mat-button color="accent">
    <div class="flex-row">
      <mat-icon>input</mat-icon>
      <span>S'authentifier</span>
    </div>
  </button>
  <button mat-button color="accent">
    <div class="flex-row">
      <mat-icon>person_add</mat-icon>
      <span>Créer un compte</span>
    </div>
  </button>
</ng-container>
