:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;

  .name-container {
    padding: 0 15px;
    margin-bottom: 10px;
  }

  .flex-row {
    justify-content: flex-start;
    mat-icon {
      margin-right: 10px;
    }
  }

  .info-container {
    margin-top: 0;
  }
}
