<div class="actions-container">
  <mat-form-field class="filter-container" color="primary" appearance="fill">
    <mat-label>Rechercher une commande...</mat-label>
    <input matInput [formControl]="orderFilterControl">
    <button mat-button matPrefix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <div matSuffix class="flex-row">
      <mat-spinner mat-icon-button *ngIf="isSearchLoading$|async" diameter="15" color="accent"
                   style="margin-right: 10px"></mat-spinner>
      <button mat-button *ngIf="orderFilterControl.value" aria-label="Clear" mat-icon-button
              (click)="orderFilterControl.setValue('');">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-form-field>
</div>

<div class="not-found-container" *ngIf="!(isSearchLoading$|async) && currentOrders.length === 0">
  Aucune commande n'a été trouvée.
</div>

<ng-container *ngIf="currentOrders">
  <cdk-virtual-scroll-viewport class="orders-container"
                               [itemSize]="itemHeight"
                               (scrolledIndexChange)="nextBatch($event, currentOrders.length-1)">
    <mat-accordion>
      <gs2-order *ngFor="let order of currentOrders;"
                 [order]="order"
                 [minimap]="minimap"
                 [vectorSource]="vectorSource"
      (refreshOrders)="refreshOrders($event)"></gs2-order>
    </mat-accordion>

  </cdk-virtual-scroll-viewport>
</ng-container>

<div class="cdk-overlay-container"
     *ngIf="(isSearchLoading$|async)">
  <div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing flex-row"
       style="align-items: center;justify-content: center;">
    <mat-spinner diameter="64" color="accent"></mat-spinner>
  </div>
</div>
