<div class="flex-column items-container" *ngFor="let product of products$|async">
  <div class="flex-row padding-horizontal-15 justify-content-space-between">
    <span class="text-ellipsis-2" [matTooltip]="product.label">{{product.label}}</span>

    <button mat-icon-button (click)="openMetadata(product)">
      <mat-icon>description</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="removeProduct(product.url)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
</div>

<button mat-raised-button color="accent" class="trash-container" (click)="emptyCart()">
  Vider le panier
</button>

<button mat-raised-button color="primary" class="button-submit"
        [routerLink]="(isUserLoggedIn$|async) ? ['/account/new-order'] : ['/auth/login']"
        [queryParams]="{callback: (isUserLoggedIn$|async) ? '/account/new-order' : '/account/new-order'}">
  Passer la commande
</button>
