[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pylint-django = "*"

[packages]
django = "==4.1.13"
djangorestframework = "==3.14.0"
markdown = "*"
django-filter = "*"
djangorestframework-gis = "*"
psycopg2 = "==2.9.4"
django-money = "*"
djangorestframework-simplejwt = "==5.2.1"
django-allauth = "*"
django-cors-headers = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
unidecode = "*"
