[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pylint-django = "*"

[packages]
django = "==3.2.13"
djangorestframework = "==3.12.4"
markdown = "*"
django-filter = "*"
djangorestframework-gis = "*"
psycopg2 = "==2.8.6"
django-money = "*"
djangorestframework-simplejwt = "==5.0.0"
django-allauth = "*"
django-cors-headers = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
unidecode = "*"
