[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-gis = "*"
psycopg2 = "*"
django-money = "*"

[requires]
python_version = "3.6"
