:host {
  .mat-card {
    &:first-child {
      margin: 0 10px 10px 10px;
    }

    margin: 10px;

    ::ng-deep .mat-card-header-text,
    .mat-card-title,
    .mat-card-subtitle {
      width: 100%;
    }

    .mat-card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap-reverse;
    }

    .order-item-wrapper {
      overflow: auto;
      min-width: 300px;
      max-height: 300px;
      flex: 1;
      margin-right: 20px;
    }

    .order-item-container {
      padding: 5px;
      margin: 5px;
      box-shadow: 0 2px 1px -1px rgba(255, 255, 255, 0.2), 0 1px 1px 0 rgba(255, 255, 255, 0.14), 0 1px 3px 0 rgba(255, 255, 255, 0.12);
    }

    .mini-map {
      width: 30%;
      height: 250px;

      @media (max-width: 527px) {
        width: 100%;
      }
    }

    .mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
