<mat-horizontal-stepper #stepper [linear]="true">
  <mat-step [stepControl]="orderFormGroup" label="Détails du mandat">
    <form [formGroup]="orderFormGroup">

      <!-- Order type -->
      <mat-form-field>
        <mat-label>Type de mandat</mat-label>
        <mat-select formControlName="orderType" required (selectionChange)="clearForms()"
                    [compareWith]="orderTypeCompareWith">
          <mat-option *ngFor="let orderType of orderTypes" [value]="orderType">
            {{orderType.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderFormGroup.get('orderType')?.hasError('required')">Requis</mat-error>
      </mat-form-field>

      <!-- title -->
      <mat-form-field>
        <mat-label>Titre du mandat</mat-label>
        <textarea matInput required formControlName="title"></textarea>
        <mat-error *ngIf="orderFormGroup.get('title')?.hasError('required')">Requis</mat-error>
      </mat-form-field>

      <!-- Description -->
      <mat-form-field *ngIf="orderFormGroup.get('orderType')?.value?.id !== 1">
        <mat-label>Description du mandat</mat-label>
        <textarea matInput
                  formControlName="description"
                  placeholder="Renseigner une courte description du mandat..."></textarea>
        <mat-error *ngIf="orderFormGroup.get('description')?.hasError('required')">Requis</mat-error>
      </mat-form-field>

      <!-- My reference -->
      <mat-form-field>
        <mat-label>Votre référence</mat-label>
        <input matInput type="text" formControlName="invoice_reference"/>
      </mat-form-field>

      <div class="bottom-container flex-row">
        <button color="warn" mat-button (click)="resetForms();stepper.selectedIndex = 0">Réinitialiser</button>
        <button color="primary" matStepperNext mat-raised-button>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="contactFormGroup" label="Facturation / Tiers">

    <form class="form-no-full-height" [formGroup]="addressChoiceForm">
      <mat-radio-group *ngIf="IsOrderTypePrivate" class="flex-column"
                       formControlName="addressChoice"
                       aria-label="Choisir une option">
        <mat-radio-button value="1">La facturation est adressée à
          l'utilisateur courant: {{(currentUser$|async)?.username}} ({{(currentUser$|async)?.email}})</mat-radio-button>
        <mat-radio-button value="2">La facturation est adressée à un mandant</mat-radio-button>
      </mat-radio-group>
    </form>

    <mat-label *ngIf="!IsOrderTypePrivate">Vous devez spécifier les informations de contact du tiers pour un mandat
       de type {{ orderFormGroup.get('orderType')?.value?.name | lowercase }}.</mat-label>

    <form class="form-height-mini" [formGroup]="contactFormGroup">
      <ng-container *ngIf="(IsOrderTypePrivate && !IsAddressForCurrentUser) || !IsOrderTypePrivate">
        <div class="flex-row">
          <!-- Search -->
          <mat-form-field style="flex:0.4;">
            <input matInput
                   placeholder="Rechercher dans mes contacts"
                   aria-label="Rechercher dans mes contacts"
                   [matAutocomplete]="auto"
                   formControlName="customer">
            <div matSuffix class="flex-row">
              <mat-spinner *ngIf="isSearchLoading" diameter="16" color="accent"
                           style="margin-right: 10px"></mat-spinner>
              <button mat-button *ngIf="customerCtrl?.value" mat-icon-button aria-label="Clear"
                      (click)="resetCustomerSearch()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomer"
                              (optionSelected)="updateCustomerForm($event)">
              <mat-option *ngFor="let identity of filteredCustomers$|async" [value]="identity">
                <span>{{ identity.first_name }} {{ identity.last_name }} ({{ identity.email }})</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button class="autocomplete-action-button"
                  mat-button
                  mat-mini-fab
                  matTooltip="Créer un nouveau client"
                  aria-label="Créer un nouveau client"
                  color="primary"
                  (click)="clearCustomerForm()">
            <mat-icon>add</mat-icon>
          </button>
          <button class="autocomplete-action-button"
                  mat-button
                  mat-mini-fab
                  matTooltip="Annuler les changements"
                  aria-label="Annuler les changements"
                  color="primary"
                  *ngIf="isCustomerSelected && contactFormGroup.dirty && contactFormGroup.touched"
                  (click)="resetCustomerForm()">
            <mat-icon>clear</mat-icon>
          </button>
          <button class="autocomplete-action-button"
                  mat-button
                  mat-mini-fab
                  matTooltip="Supprimer ce client"
                  aria-label="Supprimer ce client"
                  color="warn"
                  *ngIf="isCustomerSelected"
                  (click)="deleteCurrentContact()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div class="flex-column" style="overflow: auto" *ngIf="isCustomerSelected">
          <!-- Contact info -->
          <mat-form-field color="primary">
            <input formControlName="first_name"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Prénom">
            <mat-error *ngIf="contactFormGroup?.get('first_name')?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="last_name"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   required
                   matInput
                   placeholder="Nom">
            <mat-error *ngIf="contactFormGroup?.get('last_name')?.hasError('required')">Requis</mat-error>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field [style.color]="contactFormGroup?.get('email')?.touched ? '#26a59a' : 'black'">
            <mat-label>Courriel mandant</mat-label>
            <input matInput required type="email" formControlName="email">
            <mat-error *ngIf="contactFormGroup?.get('email')?.hasError('required')">Requis</mat-error>
            <mat-error *ngIf="contactFormGroup?.get('email')?.hasError('pattern')">Format courriel uniquement
            </mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="company_name"
                   autocapitalize="off"
                   autofocus
                   spellcheck="false"
                   matInput
                   placeholder="Société">
          </mat-form-field>

          <!-- IDE number -->
          <mat-form-field>
            <mat-label>Numéro d’identification des entreprises (IDE)</mat-label>
            <input matInput type="text" formControlName="ide_id">
            <mat-error *ngIf="contactFormGroup?.get('ide_id')?.hasError('pattern')">Mauvais format du numéro IDE, accepté : CHE-012.345.678</mat-error>
          </mat-form-field>

          <!-- Phone -->
          <mat-form-field>
            <mat-label>Téléphone mandant</mat-label>
            <input matInput type="tel" formControlName="phone">
            <mat-error *ngIf="contactFormGroup?.get('phone')?.hasError('pattern')">
              <ul>Mauvais format de téléphone, accepté :
                <li>+41225252356</li>
                <li>+41 22 225 25 23</li>
                <li>0041222252523</li>
                <li>0041 22 225 25 23</li>
                <li>0225232523</li>
                <li>02 25 25 25 23</li>
              </ul>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Adresse</mat-label>
            <input formControlName="street" matInput type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Complément d'adresse</mat-label>
            <input formControlName="street2" matInput type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Code postal</mat-label>
            <input formControlName="postcode" matInput type="number">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Ville</mat-label>
            <input formControlName="city" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Pays</mat-label>
            <mat-select formControlName="country">
              <mat-option [value]="'Suisse'">
                Suisse
              </mat-option>
              <mat-option [value]="'France'">
                France
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </ng-container>

      <div class="bottom-container flex-row">
        <button color="warn" mat-button (click)="resetForms();stepper.selectedIndex = 0">Réinitialiser</button>
        <button color="primary" mat-button matStepperPrevious>Retour</button>
        <button color="primary" mat-raised-button [disabled]="contactFormGroup?.invalid"
                (click)="createOrUpdateDraftOrder()">Suivant
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="orderItemFormGroup" label="Aperçu de la commande">
    <form *ngIf="currentOrder" [formGroup]="orderItemFormGroup" (submit)="confirm()">

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Label Column -->
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Description / Disponibilité
            </th>
            <td mat-cell *matCellDef="let orderItem">
              <div class="text-ellipsis-2">{{ getProductLabel(orderItem) }}</div>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <div *ngIf="isOrderHasPendingItem">
                Un ou plusieurs produits commandés doivent être devisés préalablement.<br>
                N'hésitez pas à demander gratuitement votre devis sans engagement.<br>
                Vous pourrez ensuite définitevement valider votre commande.
              </div>

              <ul class="padding-vertical-5" *ngIf="!isOrderHasPendingItem">
                <li class="text-primary">Frais de traitement</li>
                <li class="text-primary mat-body-strong">Total TTC</li>
                <li class="mat-small">Dont TVA 7.7 %</li>
              </ul>
            </td>
          </ng-container>

          <!-- Format Column -->
          <ng-container matColumnDef="format">
            <th mat-header-cell *matHeaderCellDef>
                <mat-select formControlName="formatsForAll" placeholder="Même format pour tous les produits"
                 (selectionChange)="updateAllDataFormats()">
                  <mat-option *ngFor="let format of allAvailableFormats" [value]="format">
                    {{ format }}
                  </mat-option>
                </mat-select>
                <mat-spinner *ngIf="isOrderPatchLoading" diameter="16" color="accent"
                           style="margin-right: 10px"></mat-spinner>
            </th>
            <td mat-cell *matCellDef="let orderItem">
              <mat-form-field color="primary">
                <mat-select [formControlName]="getOrderItemControlName(orderItem)" required
                            placeholder="Format" (selectionChange)="updateDataFormat(orderItem)">
                  <mat-option *ngFor="let format of orderItem.available_formats" [value]="format">
                    {{ format }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="orderItemFormGroup.get(getOrderItemControlName(orderItem))?.hasError('required')">
                  Requis
                </mat-error>
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef class="text-primary"></td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="sitn-th-price">Prix</th>
            <td mat-cell *matCellDef="let orderItem" class="sitn-td-price">
              <span *ngIf="orderItem.price_status !== 'PENDING'">{{ orderItem.price | currency }}</span>
              <span *ngIf="orderItem.price_status === 'PENDING'">Sur devis</span>
            </td>
            <td mat-footer-cell *matFooterCellDef class="sitn-tf-price">
              <ul class="padding-vertical-5" *ngIf="!isOrderHasPendingItem">
                <li class="text-primary">{{ currentOrder.processing_fee | currency }}</li>
                <li class="text-primary mat-body-strong">{{ currentOrder.total_with_vat | currency }}</li>
                <li class="mat-small">{{ currentOrder.part_vat | currency }}</li>
              </ul>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-primary"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-primary"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="text-primary"></tr>
        </table>
      </div>

      <div class="flex-row">
        <button color="warn" mat-button type="button" (click)="resetForms();stepper.selectedIndex = 0">Réinitialiser</button>
        <button color="primary" mat-button matStepperPrevious>Retour</button>
        <button color="primary" mat-raised-button type="submit"
                [disabled]="orderItemFormGroup.invalid">
          {{buttonConfirmLabel}}
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
