:host {
  .mat-stepper-horizontal {
    width: 100%;
    height: calc(100vh - 64px);
    max-width: 1920px;
    margin: auto;

    .mat-horizontal-content-container {
      flex: 1;
    }

    form {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 64px - 72px - 24px);

      .mat-form-field {
        margin-top: 10px;
      }
    }

    .mat-raised-button {
      margin-left: auto;
    }
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .mat-card {
    margin: 0 auto;
  }

  .table-container {
    flex: 1;
    overflow: auto;

    .mat-table {
      width: 100%;

      .mat-column-label {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 auto !important;
        width: auto !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }

      .mat-column-format {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 20% !important;
        width: 20% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }

      .mat-column-price {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 20% !important;
        width: 20% !important;
        min-width: 8rem !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        text-align: right;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}
