<mat-card class="scrollable-content" *ngIf="user">
  <mat-card-header>
    <mat-card-title>GeoShop - Modification du profil</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formModifyUser" class="flex-column" (ngSubmit)="onModifyUserSubmit()">
      <mat-form-field color="primary">
        <mat-label>Nom d'utilisateur (ne peut être modifié)</mat-label>
        <input #firstInput formControlName="username"
               matInput
               placeholder="Login">
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="firstName"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Prénom">
        <mat-error *ngIf="formModifyUser.get('firstName')?.hasError('required')">Requis</mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="lastName"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Nom">
        <mat-error *ngIf="formModifyUser.get('lastName')?.hasError('required')">Requis</mat-error>
      </mat-form-field>

      <mat-form-field color="primary">
        <input formControlName="email"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Courriel">
        <mat-error *ngIf="formModifyUser.get('email')?.hasError('required')">Requis</mat-error>
        <mat-error *ngIf="formModifyUser.get('email')?.hasError('email')">Format de courriel incorrect</mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="phone"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Téléphone">
        <mat-error *ngIf="formModifyUser.get('phone')?.hasError('required')">Requis</mat-error>
        <mat-error *ngIf="formModifyUser.get('phone')?.hasError('pattern')">
          <ul>Mauvais format de téléphone, accepté :
            <li>+41225252356</li>
            <li>+41 22 225 25 23</li>
            <li>0041222252523</li>
            <li>0041 22 225 25 23</li>
            <li>0225232523</li>
            <li>02 25 25 25 23</li>
          </ul>
        </mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
        <input id="registerInput2" formControlName="street"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Adresse">
        <mat-error *ngIf="formModifyUser.get('street')?.hasError('required')">Requis</mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="street2"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               matInput
               placeholder="Complément d'adresse">
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="postcode"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Code postal">
        <mat-error *ngIf="formModifyUser.get('postcode')?.hasError('required')">Requis</mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="city"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Ville">
        <mat-error *ngIf="formModifyUser.get('city')?.hasError('required')">Requis</mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="country"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               required
               matInput
               placeholder="Pays">
        <mat-error *ngIf="formModifyUser.get('country')?.hasError('required')">Requis</mat-error>
      </mat-form-field>
      <mat-form-field color="primary">
        <input id="registerInput3" formControlName="companyName"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               matInput
               placeholder="Raison sociale">
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="ideId"
               autocapitalize="off"
               autofocus
               spellcheck="false"
               matInput
               placeholder="N° IDE">
        <mat-error *ngIf="formModifyUser?.get('ideId')?.hasError('pattern')">Mauvais format du numéro IDE, accepté : CHE-012.345.678</mat-error>
      </mat-form-field>

      <button class="action-button-container" color="primary" mat-raised-button type="submit" [disabled]="formModifyUser.invalid">
        Soumettre
      </button>
    </form>
  </mat-card-content>
</mat-card>
