/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1;
}
.text-white {
  color: white;
}
.main-container {
  width: 100%;
  height: calc(100vh - 64px);
}

.basemap-button {
  &.mat-mini-fab {
    .mat-button-wrapper {
      padding: 0;
    }
  }
}

.mat-menu-item {
  display: flex !important;
  align-items: center;

  img {
    margin-right: 10px;
  }
}
