/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

.rounded-image {
  border-radius: 50%;
}

.text-white {
  color: white;
}

.text-primary {
  color: #7b1fa2;
}

.text-accent {
  color: #69f0ae;
}

.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

.main-container {
  width: 100%;
  height: calc(100vh - 64px);
}

.right-container {
  margin-left: auto;
}

.basemap-button {
  &.mat-mini-fab {
    .mat-button-wrapper {
      padding: 0;
    }
  }
}

.mat-menu-item {
  display: flex !important;
  align-items: center;

  img {
    margin-right: 10px;
  }
}

.primary-container {
  background-color: #69f0ae;
  color: black;
}

.dark-background {
  background-color: #302f2f;
  color: white;
}

.info-container {
  margin: 10px;
  padding: 5px;
  border: solid 1px #4177F6;

  mat-icon {
    color: #4177F6;
    margin-right: 10px;
  }
}

.as-split-gutter {
  background-color: #7b1fa2 !important;
  flex-basis: 5px !important;
}

.padding-horizontal-15 {
  padding: 0 15px;
}

.padding-vertical-5 {
  padding: 5px 0;
}

.padding-vertical-10 {
  padding: 10px 0;
}

.justify-content-space-between {
  justify-content: space-between;
}
