# This file needs to be copied next to the compiled index.html
# Replace FRONT_HREF variable with front url suffix, for instance /geoshop2

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} -f [OR]  
    RewriteCond %{REQUEST_FILENAME} -d 
    RewriteRule ^.*$ - [NC,L]
    RewriteRule ^(.*) ${FRONT_HREF}/index.html [NC,L]
</IfModule>
