<mat-spinner *ngIf="isMapLoading$|async" id="map-drawing-spinner" [diameter]="25"></mat-spinner>

<div id="map"></div>

<form [formGroup]="formGeocoder" id="geocoder-container">
  <mat-form-field color="primary">
    <input type="text"
           matInput
           placeholder="Rechercher un lieu..."
           formControlName="search"
           [matAutocomplete]="autoGroup">
    <button mat-button color="accent" *ngIf="searchCtrl && searchCtrl.value.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="searchCtrl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayGeocoderResultWith" (optionSelected)="displayGeocoderResultOnTheMap($event)">
      <mat-optgroup *ngFor="let group of geocoderGroupOptions" [label]="group.label">
        <mat-option *ngFor="let item of group.items" [value]="item">
          {{item.label}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
    <mat-hint>Une adresse, une parcelle, un point d'intérêt, etc.</mat-hint>
  </mat-form-field>
</form>

<div id="ol-scaleline" class="scale-line" [style.left]="leftPositionForButtons"></div>

<div class="map-button-container" [style.left]="leftPositionForButtons">
  <button matTooltip="Un clique droit ou un double click termine le dessin" [color]="isDrawing ? 'accent' : 'primary'"
          mat-mini-fab aria-label="Activer / désactiver le dessin" (click)="toggleDrawing()">
    <mat-icon>edit</mat-icon>
  </button>

  <button matTooltip="Supprime le dessin en cours" color="primary" mat-mini-fab aria-label="Supprimer le dessin"
          (click)="eraseDrawing()">
    <mat-icon>delete</mat-icon>
  </button>

  <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Menu des fonds de plan">
    <mat-icon>layers</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let basemap of basemaps" (click)="switchBasemap(basemap.id)">
      <img alt="Basemap" [src]="basemap.thumbUrl" height="40px">
      <span class="text-white">{{basemap.label}}</span>
    </button>
  </mat-menu>

  <button matTooltip="Cliquer pour activer / désactiver la géolocalisation"
          [color]="isTracking ? 'accent' : 'primary'" mat-mini-fab aria-label="Activer / désactiver la géolocalisation"
          (click)="toggleGeolocation()">
    <mat-icon>{{isTracking ? 'location_on' : 'location_off'}}</mat-icon>
  </button>
</div>
