<mat-spinner *ngIf="isMapLoading$|async" id="map-drawing-spinner" [diameter]="25"></mat-spinner>

<div id="map"></div>
<mat-card class="geocoder-container">
  <form [formGroup]="formGeocoder" id="geocoder-container">
    <mat-form-field color="primary">
      <input type="text"
             matInput
             placeholder="Rechercher un lieu..."
             formControlName="search"
             [matAutocomplete]="autoGroup">
  
      <div matSuffix class="flex-row">
        <mat-spinner *ngIf="isSearchLoading" diameter="13" color="accent" style="margin-right: 10px"></mat-spinner>
        <button
          matTooltip="Effacer"
          aria-label="Effacer"
          mat-button color="accent" *ngIf="shouldDisplayClearButton" mat-icon-button
                (click)="searchCtrl?.setValue('');shouldDisplayClearButton = false;">
          <mat-icon>close</mat-icon>
        </button>
      </div>
  
      <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayGeocoderResultWith"
                        (optionSelected)="displayGeocoderResultOnTheMap($event)">
        <mat-optgroup *ngFor="let group of geocoderGroupOptions" [label]="group.label">
          <mat-option *ngFor="let item of group.items" [value]="item">
            {{item.label}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
      <mat-hint>Une adresse, une parcelle, un point d'intérêt, etc.</mat-hint>
    </mat-form-field>
  </form>
</mat-card>

<div id="ol-scaleline" class="scale-line" [style.left]="leftPositionForButtons"></div>

<div class="map-button-container" [style.left]="leftPositionForButtons">
  <button matTooltip="Un clic droit ou un double clic termine le dessin"
          aria-label="Un clic droit ou un double clic termine le dessin"
          [color]="isDrawing ? 'accent' : 'primary'"
          mat-mini-fab  (click)="toggleDrawing()">
    <mat-icon>edit</mat-icon>
  </button>

  <button matTooltip="Supprimer le dessin"
          aria-label="Supprimer le dessin"
          color="primary" mat-mini-fab
          (click)="eraseDrawing()">
    <mat-icon>delete</mat-icon>
  </button>

  <button
    matTooltip="Changer le fond de plan"
    aria-label="Changer le fond de plan"
          mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
    <mat-icon>layers</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let basemap of basemaps" (click)="switchBasemap(basemap.id)">
      <img alt="Basemap" [src]="basemap.thumbUrl" height="40px">
      <span>{{basemap.label}}</span>
    </button>
  </mat-menu>

  <button matTooltip="Importer KML ou glisser-déposer le KML sur la carte"
          aria-label="Importer KML ou glisser-déposer le KML sur la carte"
          color="primary"
          mat-mini-fab
          (click)="openFileImport()">
    <mat-icon>file_upload</mat-icon>
  </button>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept=".kml" style="display:none;" />

  <button
    matTooltip="Choisir un format pré-configuré"
    aria-label="Choisir un format pré-configuré"
    mat-mini-fab color="primary"
    (click)="togglePageformat()">
    <mat-icon svgIcon="format"></mat-icon>
  </button>
</div>
