{
  "apiUrl": "${API_URL}",
  "baseMapCapabilitiesUrl": "https://sitn.ne.ch/web_getcapabilities/WMTSGetCapabilities95.xml",
  "geocoderUrl": "https://sitn.ne.ch/production/wsgi/search",
  "contact": {
    "phone": {
      "label": "+41 (0) 32 889 57 63",
      "number": "+41328895763"
    },
    "email": "chantal.monnier@ne.ch"
  },
  "initialCenter": [
    2551473.73, 1211195.03
  ],
  "initialExtent": [
    2420000, 1030000, 2900000, 1350000
  ],
  "epsg": "EPSG:2056",
  "basemaps": [
    {
      "id": "plan_ville",
      "label": "Plan de ville",
      "description": "Plan de ville",
      "thumbUrl": "assets/images/cartodb_thumbnail.png",
      "matrixSet": "EPSG:2056"
    },
    {
      "id": "plan_cadastral",
      "label": "Plan cadastral",
      "description": "Plan cadastral",
      "thumbUrl": "assets/images/osm_thumbnail.png",
      "matrixSet": "EPSG:2056"
    },
    {
      "id": "ortho",
      "label": "Images aériennes",
      "description": "Images aériennes",
      "thumbUrl": "assets/images/cartodb_thumbnail.png",
      "matrixSet": "EPSG:2056"
    }
  ]
}
