{
  "apiUrl": "${API_URL}",
  "mediaUrl": "${MEDIA_URL}",
  "baseMapCapabilitiesUrl": "https://sitn.ne.ch/web_getcapabilities/WMTSGetCapabilities95.xml",
  "geocoderUrl": "https://sitn.ne.ch/production/wsgi/search",
  "geocoderLayers": [
    "adresses_sitn", "search_arrets_tp", "nom_local_lieu_dit", "search_cours_eau",
    "batiments_ofs", "axe_rue", "ImmeublesCanton", "point_interet"
  ],
  "contact": {
    "phone": {
      "label": "+41 (0) 32 889 57 63",
      "number": "+41328895763"
    },
    "email": "chantal.monnier@ne.ch"
  },
  "initialCenter": [
    2551473.73, 1211195.03
  ],
  "initialExtent": [
    2420000, 1030000, 2900000, 1350000
  ],
  "epsg": "EPSG:2056",
  "basemaps": [
    {
      "id": "plan_ville",
      "label": "Plan de ville",
      "description": "Plan de ville",
      "thumbUrl": "assets/images/planville.png",
      "matrixSet": "EPSG:2056"
    },
    {
      "id": "plan_cadastral",
      "label": "Plan cadastral",
      "description": "Plan cadastral",
      "thumbUrl": "assets/images/cadastre.png",
      "matrixSet": "EPSG:2056"
    },
    {
      "id": "ortho",
      "label": "Orthophotos",
      "description": "Orthophotos",
      "thumbUrl": "assets/images/mixte.jpg",
      "matrixSet": "EPSG:2056"
    }
  ],
  "pageformats": [
    {
      "name": "A4",
      "width": 210,
      "height": 297
    },
    {
      "name": "A3",
      "width": 297,
      "height": 420
    },
    {
      "name": "A2",
      "width": 420,
      "height": 594
    },
    {
      "name": "A1",
      "width": 594,
      "height": 841
    },
    {
      "name": "A0",
      "width": 841,
      "height": 1189
    }
  ]
}
